.jobsimg {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.jobsimg img{
	width: 100%;
	margin: 30px;
	max-width: 280px;
}

/*modal imagenes*/

b{
	cursor: pointer;
}

.modal1, .modal2,.modal3 ,.modal4{
	display: none;
	background: white;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0px;
}

.modal1 img{
	height: 400px;
	margin: 0px;
	max-width: 70%;
	position: relative;
	top: 100px;
	left: 150px;
}

.modal2 img{
	height: 400px;
	margin: 0px;
	max-width: 70%;
	position: relative;
	top: 100px;
	left: 150px;
}

.modal3 img{
	height: 400px;
	margin: 0px;
	max-width: 70%;
	position: relative;
	top: 100px;
	left: 150px;
}

.modal4 img{
	height: 400px;
	margin: 0px;
	max-width: 70%;
	position: relative;
	top: 100px;
	left: 150px;
}

.modal1 h2{
	color: black;
    position: relative;
    top: 100px;
    text-align: center;
    font-size: 32px;
}

.modal2 h2{
	color: black;
    position: relative;
    top: 100px;
    text-align: center;
    font-size: 32px;
}

.modal3 h2{
	color: black;
    position: relative;
    top: 100px;
    text-align: center;
    font-size: 32px;
}

.modal4 h2{
	color: black;
    position: relative;
    top: 100px;
    text-align: center;
    font-size: 32px;
}

.cerrar .icon-cross{
	cursor: pointer;
	font-size: 50px;
	color: black;
	
	left: 90%;
	bottom: 80%;
}

/*modal imagenes*/

/*media querys modales*/

@media(min-width: 320px)and (max-width: 767px){
	.modal1{
		width: 100%;
	}

	.modal1 img{
		height: 250px;
		max-width: 100%;
		position: relative;
		top: 120px;
		left: 1px;
	}
	.cerrar>.icon-cross{
		font-size: 16px;
		position: relative;
		bottom: 160px;
		left: 450px;
		max-width: 100%;
		
	}

	.modal2{
		width: 100%;
	}

	.modal2 img{
		height: 250px;
		max-width: 100%;
		position: relative;
		top: 120px;
		left: 1px;
	}
	.cerrar>.icon-cross{
		font-size: 16px;
		
	}

	.modal3{
		width: 100%;
	}

	.modal3 img{
		height: 250px;
		max-width: 100%;
		position: relative;
		top: 120px;
		left: 1px;
	}
	.cerrar>.icon-cross{
		font-size: 16px;
		
	}

	.modal4{
		width: 100%;
	}

	.modal4 img{
		height: 250px;
		max-width: 100%;
		position: relative;
		top: 120px;
		left: 1px;
	}
	.cerrar>.icon-cross{
		font-size: 16px;
		
}

/*media querys modales*/


@media(min-width: 560px) and (max-width: 565px){
    .jobsimg {
       width: 99%;
    }
}

@media(min-width: 566px) and (max-width: 577px){
    .jobsimg {
       max-width: 97%;
    }
}




@media(min-width: 764px){
	.jobs h2{
		font-size: 48px;
	}

	.jobsimg img{
		margin: 20px;
	}
}

@media(min-width: 1024px){
	.jobsimg img{
		
		margin: 40px;
	}

}